.title {
	text-align: center;
	padding: .75rem;
	font-weight: bold;
	color: darkorange;
}

#product-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(15.5rem, 1fr));
	grid-gap: 1.25em;
}

#product-container .card {
	padding: .25em;
}

#product-container .card-img-top {
	height: 15.5em;
	object-fit: contain;
}

#product-container .price {
	font-weight: bold;
	display: block;
	font-size: 1.25em;
	margin-bottom: .75em;
}

.card .btn {
	width: 100%;
}

.edit-form {
	background-color: gray;
	position: absolute;
	display: none;
	top: 2em;
	left: 2em;
	right: 2em;
	bottom: 2em;
}